 /* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de fundo da página */

body {
  /* Shorthand */
  background: url(./Mobile/Gradient-Dark-mode.jpg) 
  no-repeat top center/cover;
  
}
