 /* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de fundo da página */

body {
  /* Shorthand */
  background: url(./Mobile/Gradient-Dark-mode.jpg) 
  no-repeat top center/cover;
}

#container {
  width: 360px;
  border: 1px solid coral;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}