 /* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração de fundo da página */

body {
  /* Shorthand */
  background: url(./Mobile/Gradient-Dark-mode.jpg) 
  no-repeat top center/cover;
}

/* Configuração da caixa 1*/
#container {
  width: 360px;
  border: 1px solid coral;
  margin: auto;
}

/* Configuração do alinhamento do conteúdo*/
#profile {
  text-align: center;
}

/* Configuração do avatar*/
#profile img {
  width: 112px;
}

body * {
  font-family: 'Mulish', sans-serif;
  font-family: 'MuseoModerno', sans-serif;
  color: white;
}
 p {
  font-weight: 400;
 }
